@model Answer

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Edit question</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <form asp-action="Edit" id="editForm" asp-controller="Answers">
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    <input type="text" asp-for="Text" class="form-control" required/>
                    @Html.ValidationMessageFor(x => x.Text)
                </div>
            </form>
        </dl>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" id="submitButton" asp-action="Edit" value="Edit" class="btn btn-success"/>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#submitButton').click(function (){
        $('#editForm').submit();
    });
</script>