@model IEnumerable<Answer>

@{
    ViewBag.Title = "Answers";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col">
            @{ await Html.RenderPartialAsync("Add", new Answer()); }
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>Answers</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Text</td>
            <td><a asp-controller="Answers" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-controller="Answers" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
</table>
