@using AnswersApp.ViewModels.Questions

@model EditPage<SelectListItem>

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Edit question</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <form asp-action="Edit" id="editForm" asp-controller="Questions">
                <div asp-validation-summary="All"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    @Html.DropDownListFor(x => x.AnswerId, Model.Answers, "Choose answer", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Text" asp-for="Text" class="form-control" required/>
                    @Html.ValidationMessageFor(x => x.Text)
                </div>
            </form>
        </dl>
    </div>
    <dic class="modal-footer">
        <div class="form-group">
            <input type="submit" id="submitButton" asp-action="Edit" value="Edit" class="btn btn-success"/>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </dic>
</div>

<script type="text/javascript">
    $('#submitButton').click(function (){
        $('#editForm').submit();
    });
</script>
